

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=RocknRoll+One&display=swap");

.container{
  width: 90vw;
  margin: 3rem auto;
  font-size: 1.6rem;
  letter-spacing: 2px;
  word-break: keep-all;
  background-image: url(../img/background.jpg);
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
}

html{
  font-size: 62.5%;
}

.logo{
  width: 100px;
}
